# Build Folders
bin/
obj/
out/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# Resharper
_ReSharper*/
*.DotSettings.user

# NuGet
*.nupkg
packages/
.nuget/

# ASP.NET temporary files
*.dbmdl
*.pdb
*.cache
*.log
*.vspscc
*.vssscc

# ASP.NET Core
appsettings.Development.json
appsettings.Local.json
*.db
*.db-shm
*.db-wal

# Mac files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini

# Others
*.bak
*.backup
*.swp
*.tmp
